<!DOCTYPE html>
<html>
  <head>
    <title>FotoBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "email": "<%=current_user.email%>",
          "first_name": "<%=current_user.first_name%>",
          "last_name": "<%=current_user.last_name%>",
          "birthdate": "<%=current_user.birthdate%>",
          "gender": "<%=current_user.gender%>",
          "hometown": "<%=current_user.hometown%>",
          "profile_banner": "<%=current_user.profile_banner%>",
          "profile_picture": "<%=current_user.profile_picture%>",
          "school": "<%=current_user.school%>"
        }
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
